body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: white;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav {
  margin-top: 10px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.hero {
  background-color: #f5f5f5;
  padding: 40px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.card {
  width: 25%;
  background: #eee;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

#ptag::before{

    content: "this is desktop view";

}


.mobile-header{
    visibility: hidden;
}



@media (max-width: 320px) {

.mobile-header{
    visibility: visible;
    display: flex;
    top: 0%;
    left: 0%;
}

.content{
    display: flex;
    flex-direction: column;
}
.card{
    width: auto;
    left: 0%;
    height: auto;
    margin-bottom: 2px;
}

#ptag::before{
    content:"this is mobile view";
}

.desktop-header{
    visibility: hidden;
}

}
